body {
  margin: 0px;
  font-family: "Poppins";
}

.navbar-container {
  box-shadow: 0px 6px 5px 0px rgba(15, 173, 142, 0.7);
  -webkit-box-shadow: 0px 6px 5px 0px rgba(15, 173, 142, 0.7);
  -moz-box-shadow: 0px 6px 5px 0px rgba(15, 173, 142, 0.7);
}

.navbar {
  padding: 20px;
  max-width: 1560;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.navbar-left {
  width: 50px;
  margin-left: 150px;
}

.navbar-right div {
  text-transform: unset;
  font-weight: 600;
}

.navbar-right {
  display: flex;
  margin-right: 150px;
}

.navbar-right > * {
  padding: 20px;
}

.container {
  max-width: 1440px;
  margin: auto;
}
.banner-right img {
  max-width: 80%;
  object-fit: contain;
  height: 80%;
}
.banner {
  display: flex;
}

.banner-left,
.banner-right {
  max-width: 50%;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  height: 100%;
  align-content: stretch;
  flex-direction: column;
}

.banner-title {
  width: 100%;
  font-size: 56px;
  text-align: center;
  color: black;
}
.banner-container {
  margin: 40px 0px 40px 0px;
  display: flex;
}

.banner-description {
  text-align: left;
  padding: 30px 60px 30px 60px;
  font-size: 18px;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(15, 173, 142, 0.7);
}

.Daftar {
  border: 1px solid rgba(15, 173, 142, 0.7);
  color: rgba(15, 173, 142, 0.7);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
}

.Masuk {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(15, 173, 142, 0.7);
}